#header-small {
	background-image: url(img/curtain.png);
	background-position: center bottom;
	height: 190px;
	position: fixed;
	transition: height 200ms ease;
	text-align: center;
	width: 100%
}

header.collapsed {
	height: 200px;
}

#logo-small {
	height: 40px;
	padding-top: 1em;
}