.person-detail {
	> img {
		display: block;
		margin: 0 auto;
		height: 300px;
	}
}

.person-detail-name {
	font-size: 30px;
}

.person-item {
	list-style-type: none;
	padding-bottom: 10px;

	> img {
	display: block;
	margin: 0 auto;
	height: 300px;
	}

	> div {
		text-align: center;
		padding-top: 10px;
	}
}