.person-item {
	padding-bottom: 5px;

	> div {
		text-align: center;
		padding-top: 10px;
	}
}

.person-list {
	padding: 0;
	margin: 0;
}

.person-list:after {
	content: '';
	display: block;
	clear: both;
}

.person-item {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	padding: 5%;
}

.person-profile {
	width: 100%;
}

.actor-img {
	// height: 300px;
	width: 80%;
	display: block;
	margin: 0 auto;
}