.theatre {
	color: $color-white;
	text-align: center;
	font-size: 24xpx;
	font-family: 'Noto Sans';
}

.movie-poster {
	height: 200px;
	width: 40%;
	text-align: center;
}

.now-playing {
	overflow-x: scroll;
	margin: 0 auto;
	white-space: nowrap;
	list-style-type: none;
	width: 100%;

	ul {
		margin: 0;
		padding: 0;
	}
}

.now-playing {
	float: left;
}

.movie-item {
	list-style-type: none;
	display: inline;
}
