.theatre {
	color: $color-white;
	font-size: 24px;
	font-family: 'Noto Sans';
}

.now-playing {
	overflow-x: scroll;
	margin: 0 auto;
	white-space: nowrap;
	list-style-type: none;
	width: 100%;

	ul {
		margin: 0;
		padding: 0;
	}
}

.now-playing {
	float: left;
}

.movie-item {
	list-style-type: none;
	display: inline;
}

.movie-detal-title {
	font-size: 24px;
}

