.search-small {
	width: 80%;
	position: relative;
	margin: 0 auto;
	padding-top: 8px;
}

.search-icon-small {
	height: 24px;
	position: absolute;
	right: 0;
	top: 22px;
}

.voice-small {
	position: absolute;
	top: 10px;

}

#microphone-small {
	height: 20px;
	position: absolute;
	right: 11px;
	top: 22px;
}

.movie-results {
	padding-left: 6%;
	color: $color-white;
	font-weight: 50px;
	font-family: 'Ironick NF';
	text-decoration: underline;
}



