.back {
	background-image: url(img/back-button.png);
	background-size: 50%;
    background-repeat: no-repeat;
    background-position: 13px center;
    position: fixed;
    bottom: 20px;
    left: 20px;
    transition: .5s ease;
    width: 60px;
    height: 60px;
    border-radius: 62.5px;
    background-color: #95A5A6;
    box-shadow: rgba(0,0,0,0.5) 0px 5px 5px;
}

.search {
	width: 100%;
	position: relative;
	margin: 0 auto;
	height: 50px;
	margin-top: 1em;
}

.search-icon,
.search-box {
	position: absolute;
	top: 0;
	border: none;
}

.search-box {
	left: 0;
	color: $color-grey;
}

.search-icon {
	height: 24px;
	right: 12px;
	top: 12px;
}

.search-box {
	background-color: $color-black;
	border: 2px solid $color-black;
	border-radius: 6px;
	height: 50px; // 44 + 6px
	padding: 6px;
	width: 100%;
}


input.search-box:focus {
  outline-color: $color-grey;
}

