.search {
	width: 80%;
	position: relative;
	margin: 0 auto;
}

.search-box {
	background-color: $color-black;
	border: 2px solid $color-black;
	height: 44px;
	width: 100%;
}

.search-icon {
	height: 22px;
	position: absolute;
	right: 0;
	top: 15px;
}

.voice {
	position: relative;
}

#voice-search {
	color: $color-white;
	font-weight: lighter;
	text-align: right;
	padding-right: 4.8em;
	padding-top: 0;
	text-decoration: underline;
}

#microphone {
	height: 20px;
	position: absolute;
	right: 50px;
	top: -4px;
}