.back {
	background-size: contain;
    background-repeat: no-repeat;
    transition: .5s ease;
    opacity: .5;
    width: 40px;
    height: 40px;
    margin-bottom: 1em;
}

.search {
	width: 100%;
	position: relative;
	margin: 0 auto;
	height: 50px;
	margin-top: 1em;
}

.search-icon,
.search-box {
	position: absolute;
	top: 0;
}

.search-box {
	left: 0;
	color: $color-grey;
}

.search-icon {
	height: 24px;
	right: 12px;
	top: 12px;
}

.search-box {
	background-color: $color-black;
	border: 2px solid $color-black;
	border-radius: 6px;
	height: 50px; // 44 + 6px
	padding: 6px;
	width: 100%;
}


input.search-box:focus {
	border: none;
	color: $color-grey;
}
