.credit-list {
	padding: 0;
	margin: 0;
}

.credit-list:after {
	content: '';
	display: block;
	clear: both;
}

.tv-item {
	display: inline-block;
	width: 50%;
	padding: 5%;
}

.tv-poster {
	width: 100%;
}
