.credit-list {
	padding: 0;
	margin: 0;
}

.credit-list:after {
	content: '';
	display: block;
	clear: both;
}

.tv-item {
	display: inline-block;
	width: 50%;
	padding: 5%;
}

.tv-poster {
	background-size: cover;
	background-position: center;
	padding-top: 150%;
	width: 100%;
	box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}

.tv-detail {
	.movie-poster {
		width: 90%;
		display: block;
		margin: 0 auto;
	}
}
