@import '../../lib/normalize';

@import 'components/login';
@import 'vars';
@import 'components/header';
@import 'components/logo';
@import 'components/app';
@import 'components/search';
@import 'components/voice';
@import 'components/posters';
@import 'components/person';
@import 'components/movie';
@import 'components/tv';

@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

@font-face {
	font-family: 'Inronick NF';
	src: url('public/font/IronickNF.ttf')
}

*, *:before, *:after {
	box-sizing: border-box;
}

body {
	background-color: #000;
	background-image: url(img/broken-noise.png);
	background-size: 600px;
	color: $color-white;
}

h3 {
	padding-left: 10%;
	font-size: 22px;
	font-family: 'Noto Sans'
}

h2 {
	font-size: 19px;
	font-family: 'Noto Sans';
	color: $color-grey;
}

ul {
	list-style-type: none; 
}